body {
    background-color: lightblue;
    margin:  0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    }
    .imagen{
        width: 20%;
        
    
    }
    .imagen2{

        width: 100%;
        height: 80%;
       font-display: center;
       justify-content: center;
    }
    .div_menu{
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        list-style-type: style none; ;
    }
    
    .logo li{
        font-size: 15px;
        font-weight: 700;
        margin: 5px;
    }
    
    .lista {
        list-style: none !important;
        justify-content: space-around;
        padding: 4px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: rgb(255, 208, 0);
        font-family: fantasy;
       
        margin-top: auto;
        display: flex;
        align-items: center;
    }

    .lista li {
    display: inline-block;
    }

.lista ul{
    width: 500px;
    display: block;
    }
    
    .mitad{
        width: 50%;
    }
    .mitadtexto{

        width: 50%;
        height: 50%;

    }
    
    .contenido{
        display: flex;
        width: 80%;
        padding-top: 100px;
    }
    
    .texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .form_register {
        font-style: italic;
        background-color: rgba(2, 247, 255, 0.8);
        border: 1px solid #2802ff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgb(0, 255, 255);
        max-width: 300px;
        width: 100%;
        text-align: center;
    
        
    }
    .registro {
        border-radius: 5px;
        font-size: 1em;
        padding: 5px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
    }
    
    .background {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .botons {
        text-align: center;
    border-radius: 10%;
    width: 50%;
    background-color: rgb(26, 20, 48);
    color: aqua;
    
    }